<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h1>Frontend Dev CS</h1>
      <button
        class="btn btn-primary"
        (click)="initFilters()"
        [disabled]="!disabled"
      >
        Go
      </button>
    </div>
  </div>
  <app-filters
    [disabled]="disabled"
    (onChanges)="updateFilters($event)"
    (selectedContinent)="getCountriesByContinent($event)"
  ></app-filters>

  <div class="row justify-content-center text-center" *ngIf="!disabled">
    <div
      class="col-6"
      *ngIf="filters.metric === 'ALL' || filters.metric === 'population'"
    >
      <app-donut
        [countries]="countries"
        [title]="'Population'"
        [type]="'population'"
        [resultNB]="filters.resultsNB"
      >
      </app-donut>
    </div>
    <div
      class="col-6"
      *ngIf="filters.metric === 'ALL' || filters.metric === 'areaInSqKm'"
    >
      <app-donut
        [countries]="countries"
        [title]="'Surface'"
        [type]="'areaInSqKm'"
        [resultNB]="filters.resultsNB"
      >
      </app-donut>
    </div>
  </div>
</div>
